body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.magnifier {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 30px;
    column-gap: 30px;
    background-color: #303030;
    height: 100vh;

    &__miniatures {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__full-size {
        place-self: center;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        background-color: green;

        & img {
            width: auto;
            position: relative;
        }
    }

    &__miniature {
        position: relative;
        background-color: green;
        cursor: crosshair;
    }

    &__cursor {
        position: absolute;
        background-color: red;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

}